BillReader/data/yolo_detect_corner/datatest
BillReader/data/yolo_detect_corner/datatrain
BillReader/data/yolo_detect_corner/dataval
BillReader/data/yolo_detect_corner/datatrain.cache
BillReader/data/yolo_detect_corner/dataval.cache
main.py
test.ipynb
__pycache__/