<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Đăng nhập</h1>
    <form method="POST" action="/Login">
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="Submit">Đăng nhập</button>
        <p>{{ message }}</p>
        <a href="/">Quay lại</a>
    </form>
</body>
</html>