<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw on Image</title>
    <style>
        #canvas {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Draw on the Image</h1>
    <div>
        <canvas id="canvas"></canvas>
    </div>
    <button id="save">Save Image</button>

    <script src="{{ url_for('static', filename='static/script_rectangle.js') }}"></script>
    <script>
        const imagePath = "{{ image_path }}";
    </script>
</body>
</html>
