<!DOCTYPE html>
<html>
<head>
    <title>Danh sách ảnh</title>
    <style>
        img {
        width: 800px; 
        height: auto; 
        }
    </style>

</head>
<body>
    <h1>Danh sách ảnh đã upload</h1>
    <ul>
        <table>
            {% for image in images %}
                <p>Image</p>
                <li><img src="{{ url_for('static', filename='image_user/'+ username +  '/' + image) }}" alt="{{image}}"></img></li>
                </br>
                <a href="{{ url_for('Save', filename= image) }}">Lưu ảnh</a>
                <li><a href="{{ url_for('draw', image_name=image) }}">Draw</a></li>
            {% endfor %}
        </table>
    </ul>
</body>
</html>