body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    margin-right: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
}
main {
    padding: 20px;
}
.buttons {
    display: flex;
    gap: 10px;
}
.container {
    text-align: center;
    margin: 50px auto;
}

input[type="file"] {
    display: none;
}

#uploadButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}